In [69]:
import pandas
import random
import numpy

In [2]:
data = pandas.read_csv("loan/src/data/LoanStats3a.csv")

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
data.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=145)

In [6]:
loan = list(data['loan_amnt'])

In [79]:
data

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,5000.0,5000.0,4975.000000,36 months,10.65%,162.87,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2500.0,2500.0,2500.000000,60 months,15.27%,59.83,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2400.0,2400.0,2400.000000,36 months,15.96%,84.33,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,10000.0,10000.0,10000.000000,36 months,13.49%,339.31,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,3000.0,3000.0,3000.000000,60 months,12.69%,67.79,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,5000.0,5000.0,5000.000000,36 months,7.90%,156.46,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,7000.0,7000.0,7000.000000,60 months,15.96%,170.08,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,3000.0,3000.0,3000.000000,36 months,18.64%,109.43,E,E1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,5600.0,5600.0,5600.000000,60 months,21.28%,152.39,F,F2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,5375.0,5375.0,5350.000000,60 months,12.69%,121.45,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,6500.0,6500.0,6500.000000,60 months,14.65%,153.45,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,12000.0,12000.0,12000.000000,36 months,12.69%,402.54,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,9000.0,9000.0,9000.000000,36 months,13.49%,305.38,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,3000.0,3000.0,3000.000000,36 months,9.91%,96.68,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,10000.0,10000.0,10000.000000,36 months,10.65%,325.74,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,1000.0,1000.0,1000.000000,36 months,16.29%,35.31,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,10000.0,10000.0,10000.000000,36 months,15.27%,347.98,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,3600.0,3600.0,3600.000000,36 months,6.03%,109.57,A,A1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,6000.0,6000.0,6000.000000,36 months,11.71%,198.46,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,9200.0,9200.0,9200.000000,36 months,6.03%,280.01,A,A1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,20250.0,20250.0,19142.161077,60 months,15.27%,484.63,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,21000.0,21000.0,21000.000000,36 months,12.42%,701.73,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,10000.0,10000.0,10000.000000,36 months,11.71%,330.76,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,10000.0,10000.0,10000.000000,36 months,11.71%,330.76,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,6000.0,6000.0,6000.000000,36 months,11.71%,198.46,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,15000.0,15000.0,15000.000000,36 months,9.91%,483.38,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,15000.0,15000.0,8725.000000,36 months,14.27%,514.64,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,5000.0,5000.0,5000.000000,60 months,16.77%,123.65,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,4000.0,4000.0,4000.000000,36 months,11.71%,132.31,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,8500.0,8500.0,8500.000000,36 months,11.71%,281.15,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42508,NaN,NaN,6000.0,6000.0,1200.000000,36 months,13.12%,202.51,D,D5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42509,NaN,NaN,5350.0,5350.0,625.000000,36 months,13.12%,180.57,D,D5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42510,NaN,NaN,1900.0,1900.0,900.000000,36 months,9.64%,61.00,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42511,NaN,NaN,10000.0,10000.0,350.000000,36 months,14.70%,345.18,E,E5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42512,NaN,NaN,2000.0,2000.0,1275.000000,36 months,7.12%,61.87,A,A1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42513,NaN,NaN,6000.0,6000.0,650.000000,36 months,10.59%,195.28,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42514,NaN,NaN,4400.0,4400.0,1400.000000,36 months,9.64%,141.25,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42515,NaN,NaN,1200.0,1200.0,500.000000,36 months,9.01%,38.17,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42516,NaN,NaN,5000.0,5000.0,375.000000,36 months,11.22%,164.23,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42517,NaN,NaN,1400.0,1400.0,475.000000,36 months,10.91%,45.78,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42518,NaN,NaN,1000.0,1000.0,625.000000,36 months,14.07%,34.21,E,E3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42519,NaN,NaN,5000.0,5000.0,300.000000,36 months,7.75%,156.11,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42520,NaN,NaN,2500.0,2500.0,225.000000,36 months,7.43%,77.69,A,A2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42521,NaN,NaN,3000.0,3000.0,250.000000,36 months,7.43%,93.23,A,A2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42522,NaN,NaN,2600.0,2600.0,575.000000,36 months,8.38%,81.94,A,A5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42523,NaN,NaN,1000.0,1000.0,625.000000,36 months,7.12%,30.94,A,A1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42524,NaN,NaN,6450.0,6450.0,0.000000,36 months,11.22%,211.85,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42525,NaN,NaN,1275.0,1275.0,0.000000,36 months,12.49%,42.65,D,D3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42526,NaN,NaN,10500.0,10500.0,275.000000,36 months,11.22%,344.87,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42527,NaN,NaN,3000.0,3000.0,125.000000,36 months,9.01%,95.42,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42528,NaN,NaN,3000.0,3000.0,0.000000,36 months,9.33%,95.86,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42529,NaN,NaN,2000.0,2000.0,225.000000,36 months,9.96%,64.50,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42530,NaN,NaN,6500.0,6500.0,0.000000,36 months,9.64%,208.66,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42531,NaN,NaN,3500.0,3500.0,225.000000,36 months,10.28%,113.39,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42532,NaN,NaN,1000.0,1000.0,0.000000,36 months,9.64%,32.11,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42533,NaN,NaN,2525.0,2525.0,225.000000,36 months,9.33%,80.69,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42534,NaN,NaN,6500.0,6500.0,0.000000,36 months,8.38%,204.84,A,A5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42535,NaN,NaN,5000.0,5000.0,0.000000,36 months,7.75%,156.11,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42536,Total amount funded in policy code 1: 460296150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42537,Total amount funded in policy code 2: 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
state = data['addr_state']
unq_state = data['addr_state'].unique()

In [44]:
state

0         AZ
1         GA
2         IL
3         CA
4         OR
5         AZ
6         NC
7         CA
8         CA
9         TX
10        AZ
11        CA
12        VA
13        IL
14        CA
15        MO
16        CA
17        CT
18        UT
19        CA
20        TX
21        FL
22        TX
23        CA
24        CA
25        IL
26        NY
27        PA
28        FL
29        MN
        ...
42508     NY
42509     NJ
42510     FL
42511     GA
42512     CT
42513     CT
42514     NJ
42515     TX
42516     NJ
42517     MO
42518     NJ
42519     LA
42520     OH
42521     NJ
42522     CO
42523     NY
42524     GA
42525     MA
42526     CT
42527     KS
42528     MA
42529     FL
42530     CT
42531     NY
42532     MA
42533     NY
42534     NY
42535     CT
42536    NaN
42537    NaN
Name: addr_state, Length: 42538, dtype: object

In [45]:
unq_state = unq_state[0:50]

In [46]:
state

0         AZ
1         GA
2         IL
3         CA
4         OR
5         AZ
6         NC
7         CA
8         CA
9         TX
10        AZ
11        CA
12        VA
13        IL
14        CA
15        MO
16        CA
17        CT
18        UT
19        CA
20        TX
21        FL
22        TX
23        CA
24        CA
25        IL
26        NY
27        PA
28        FL
29        MN
        ...
42508     NY
42509     NJ
42510     FL
42511     GA
42512     CT
42513     CT
42514     NJ
42515     TX
42516     NJ
42517     MO
42518     NJ
42519     LA
42520     OH
42521     NJ
42522     CO
42523     NY
42524     GA
42525     MA
42526     CT
42527     KS
42528     MA
42529     FL
42530     CT
42531     NY
42532     MA
42533     NY
42534     NY
42535     CT
42536    NaN
42537    NaN
Name: addr_state, Length: 42538, dtype: object

In [94]:
import json

arr = []
for x in unq_state:
    if len(state[state==x]) >= 100:
#         print(x, ' - ', len(state[state==x]))
        m =numpy.mean(random.sample(list(data[data["addr_state"] == x]["loan_amnt"]), 50))
        arr.append({ "state": x, "avg": m })



# arr.sort(key=lambda x: x.avg)
arr = sorted(arr, key=lambda a: a['avg'])
print(json.dumps(arr))

[{"state": "RI", "avg": 8905.5}, {"state": "NM", "avg": 8981.0}, {"state": "WA", "avg": 9583.0}, {"state": "VA", "avg": 9680.0}, {"state": "FL", "avg": 9711.5}, {"state": "CT", "avg": 9716.0}, {"state": "HI", "avg": 9742.5}, {"state": "CO", "avg": 9957.5}, {"state": "WV", "avg": 10091.0}, {"state": "GA", "avg": 10343.0}, {"state": "WI", "avg": 10422.5}, {"state": "DE", "avg": 10505.0}, {"state": "OR", "avg": 10605.0}, {"state": "PA", "avg": 10609.5}, {"state": "AR", "avg": 10847.0}, {"state": "LA", "avg": 10934.0}, {"state": "AL", "avg": 10948.0}, {"state": "NV", "avg": 11184.0}, {"state": "TX", "avg": 11187.5}, {"state": "MN", "avg": 11210.0}, {"state": "OH", "avg": 11259.5}, {"state": "AZ", "avg": 11272.5}, {"state": "CA", "avg": 11382.0}, {"state": "MI", "avg": 11386.0}, {"state": "NJ", "avg": 11550.0}, {"state": "MO", "avg": 11572.5}, {"state": "SC", "avg": 11619.5}, {"state": "DC", "avg": 11660.0}, {"state": "KS", "avg": 11756.0}, {"state": "MA", "avg": 11822.5}, {"state": "NY", "avg": 11903.5}, {"state": "NC", "avg": 11985.5}, {"state": "KY", "avg": 12000.0}, {"state": "UT", "avg": 12209.5}, {"state": "NH", "avg": 12215.0}, {"state": "OK", "avg": 12614.0}, {"state": "IL", "avg": 12675.0}, {"state": "MD", "avg": 12865.0}]

In [56]:
state[state=="NY"]

26       NY
30       NY
47       NY
74       NY
80       NY
82       NY
92       NY
103      NY
122      NY
163      NY
174      NY
178      NY
192      NY
195      NY
197      NY
229      NY
239      NY
242      NY
246      NY
277      NY
291      NY
297      NY
298      NY
305      NY
314      NY
315      NY
327      NY
334      NY
337      NY
346      NY
         ..
42362    NY
42373    NY
42376    NY
42380    NY
42381    NY
42390    NY
42402    NY
42413    NY
42415    NY
42428    NY
42429    NY
42433    NY
42439    NY
42442    NY
42445    NY
42450    NY
42451    NY
42471    NY
42473    NY
42479    NY
42481    NY
42490    NY
42491    NY
42495    NY
42500    NY
42508    NY
42523    NY
42531    NY
42533    NY
42534    NY
Name: addr_state, Length: 4065, dtype: object

In [73]:
numpy.mean(random.sample(list(data[data["addr_state"] == "CT"]["loan_amnt"]), 50))

13326.0